@media screen and (max-width: 800px) {
  html.ios, html.ios body {
    height:100% !important;
  }
  #Calendar {
    font-size: 4vw;
    background-color: white;

    div {
      width: 100%;

      #calendarHolder {
        .calendarRow {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex: auto;
          align-items: center;
          vertical-align: middle;

          .day {
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            align-items: center;
            color: $dark-text;

            &.notCurrentMonth {
              color: $light-text;
            }

            &.selected {

              header {
                color: white;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background-color: $selectedBackgroundCircle;
                background-clip: padding-box;
                height: 3em;
                width: 3em;
                margin: 0 auto;
              }

              .indicator {
                background-color: #618092;
              }
            }

            header {
              line-height: 3;
              background: none;
            }
            div {
              width: 1vw;
              height: 1vw;
              top: -2vw;
              position: relative;
            }

            .indicator {
              background-color: $eventIndicatorColor;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              margin: 0 auto;
            }

            &.today {
              background-color: #f9fae5;
            }
          }
        }
      }

      #eventList {
        div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex: auto;
          align-items: center;
          background-color: $background-light;
          &.zebra {
            background-color: $zebraStripe;
          }
          span {
            margin: 1em;
            &.time {
              min-width: 5em;
              max-width: 5em;
              color: #3e3e3e;
              span {
                margin: 0;
              }
              .meridiem {
                padding-left: 0.6em;
                align-items: center;
                text-transform: uppercase;
                font-size: 0.7em;
                color: #606366;
                position: relative;
                top: -.05em;
              }
            }
            &.description {
              color: $dark-text;
            }
            &.description.draft {
              color: rgba(0,0,0,0.4);
            }
          }
        }
      }
    }

    .dayOfWeek {
      color: $dark-text;
      font-size: 0.8em;
      text-align: center;
      line-height: 3;
      border: 0;
      margin: 0;
      flex: auto;
      align-items: center;
    }
  }

  header#calendarHeader {
    font-size: 4vw;
    width: 100%;
    #currentMonth {
      min-width: 5em;
      font-size: 4vw;
      position: relative;
    }
    & > span {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 0.5em;
      width: 1em;
      height: 1em;
      display: inline-block;
      text-align: center;
      line-height: 5vw;
      color: white;
      font-size: 6vw;

      &#next, &#prev {
        background-color: $navButtonBGColor;
        &:hover {
          background-color: darken($navButtonBGColor, 10%);
          color: darken(white, 10%);
          cursor: pointer;
        }
      }
    }

    #outerLogo, #viewPrintableOuter {
      display: none;
    }
    #open-menu, .linkButton {
      margin: 3vw 2vw 0 0;
    }
    #open-menu {
      position: relative;
      top: 1vw;
    }
    header {
      color: white;
      line-height: 3;
      background-color: black;

      span#innerLogo {
        top: 10px;
        position: relative;
        margin-left: 16px;
        background: url(../img/logo-white.png) no-repeat;
        height: 7vw;
        width: 20vw;
        display: inline-block;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }

  #filters {
    display: none !important;
  }
  .ui.sidebar {
    background-color: $background-light;

    h1 {
      font-size: 4vw;
      color: grey;
      font-weight: normal;
      margin: 2vw auto;
      width: 25%;
    }

    #filters-mobile {

      &.mm-menu {
        background: white;
        height: 100%;
      }
      input[type=checkbox] {
        &:checked + label, &:checked + span {
          color: $selectedCheckboxLabel;
        }
      }
      ul {
        padding: 2vw;

        li {
          line-height: 2;
          list-style: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          span {
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            font-size: 5vw;
            label {
              -webkit-order: 1;
              order: 1;
            }
            input[type=checkbox] {
              -webkit-order: 2;
              order: 2;
              margin-left: auto;
              top: .7em;
              position:relative;
            }
            input[type=text] {
              line-height: 2;
              border: 0;
              padding: 0;
              width: 100%;
              font-size: 5vw;
              background: inherit;
            }
          }
        }
      }
      .pickList {
        span {
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
          cursor: pointer;
        }

        ul {
          min-width: 11em;
          padding-left: 3vw;

          li {
            padding: .2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            list-style: none;
            cursor: pointer;
            vertical-align: middle;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &:hover {
              background-color: $input-hover;
            }

            label, input {
              cursor: pointer;
            }
            label {
              -webkit-order: 1;
              order: 1;
            }
            input {
              -webkit-order: 2;
              order: 2;
              margin-left: auto;
              top:.7em;
              position: relative;
            }
          }
        }
      }

      button {
        min-width: 12em;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        display: inline-block;
        border-radius: 0;
        background: white;
        color: inherit;
        line-height: inherit;
        background: none !important;
        border: none;
        padding: 0 !important;
        font: inherit;
        cursor: pointer;

        &.ui-button {
          position: static;
        }

        span.ui-button-text {
          padding: 0;
          line-height: 2;
        }
      }
    }
  }
  .comiseo-daterangepicker {
    background: white;
    border-radius: 0;
    font-family: inherit;

    .comiseo-daterangepicker-buttonpanel {
      button {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-weight: normal;
        background: $inputBGColor;
      }
    }
    .comiseo-daterangepicker-main {
      background: inherit;
      .ui-widget-content {
        background: inherit;
      }
      .comiseo-daterangepicker-presets {
        display: none;
      }
      .comiseo-daterangepicker-calendar {
        border: 0;

        .ui-state-highlight {
          background: none $selectedCalendarBackground;

          a.ui-state-default {
            color: white;
            border: 0;
            background-color: inherit;
          }
        }
        .ui-datepicker-current-day, .calendarOuterSelection {
          background: none $linkButtonColor;

          a.ui-state-default {
            color: white;
            border: 0;
            background-color: inherit;
          }
        }
      }
      .ui-datepicker-header {
        background: none;
        border: 0;
        color: inherit;
      }
      .ui-datepicker-calendar {
        border-left: 1px solid $input-border;
      }
      .ui-widget-header {
        .ui-state-hover {
          background: none;
          border: 0;
        }
      }
      .ui-datepicker-prev {
        cursor: pointer;
        .ui-icon {
          opacity: .9;
          background: url(../img/sprites.png) 0 -14px;
        }
        &.ui-state-disabled {
          .ui-icon {
            opacity: .3;
          }
        }
        &.ui-state-hover {
          .ui-icon {
            opacity: 1;
          }
        }
      }
      .ui-datepicker-next {
        cursor: pointer;
        .ui-icon {
          opacity: .9;
          background: url(../img/sprites.png) 0 -31px;
        }
        &.ui-state-disabled {
          .ui-icon {
            opacity: .3;
            background: url(../img/sprites.png) 0 -31px;
          }
        }
        &.ui-state-hover {
          .ui-icon {
            opacity: 1;
            background: url(../img/sprites.png) 0 -31px;
          }
        }
      }

      .ui-datepicker-calendar {
        border: 0;
        padding: 0;
      }
    }
    td {
      text-align: center;
      .ui-datepicker-current-day {
        background-color: $selectedCalendarBackground;
      }
      .ui-state-default {
        border: 0;
        font-weight: normal;
        color: inherit;
        background: inherit;
      }
    }
  }

  #listHeader {
    #outerLogo, #viewCalendarOuter, #viewPrintableOuter {
      display: none;
    }
    header {
      overflow: auto;
      color: white;
      line-height: 3;
      background-color: black;

      span#innerLogo {
        top: 10px;
        position: relative;
        margin-left: 16px;
        background: url(../img/logo-white.png) no-repeat;
        height: 7vw;
        width: 20vw;
        display: inline-block;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }

    h1 {
      font-size: 1em;
    }
  }
}
