$background-light: #f6f6f6;

html, body {
  border:0;
  padding:0;
  margin:0;
}

@media all {
  html {
    font-family: Helvetica, Arial, sans-serif;
  }

  #pageTitle {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
  }

  #emptyList {
    display:block;
    text-align: center;
    line-height: 3;
  }

  header {
    $elementHeight: 24px;
    clear: both;
    background-color: $background-light;

    h1 {
      display: inline-block;
      font-size: $elementHeight;
      margin: 16px;
    }
    input, #viewCalendar {
      margin: 16px;
      float: right;
      vertical-align: middle;
      height: $elementHeight;
      border-radius: 1px;
    }
    input {
      padding-left: 5px;
      background: white url('../img/calendar.png') 95% 50% no-repeat;
      border: 1px solid #dcdcdc;
      -webkit-box-shadow: inset 3px 3px 5px $background-light;
      -moz-box-shadow: inset 3px 3px 5px $background-light;
      box-shadow: inset 3px 3px 5px $background-light;
    }
    #viewCalendar {
      cursor: pointer;
      display:inline-block;
      text-decoration: none;
      text-align: center;
      font-size: 0.7em;
      line-height: 2;
      padding:0 24px;
      color:white;
      background-color: #d42741;
      border: 1px solid #d42741;
    }
  }

  #navigation {
    $selectedColor: #484949;
    $prevBGColor: #b0bdc4;
    $nextBGColor: #676666;
    $navBGColor: #d0e2ed;

    background-color: $navBGColor;
    clear: both;
    width: 100%;
    color: #a2afb7;

    .isToday, .isSelected {
      color: $selectedColor;
    }
    .dayOfWeek {
      font-weight: bold;
    }

    ul {
      margin: 0;

      li {
        line-height: 4;
        text-decoration: none;
        display: inline-block;
        width: 12%;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;

        &:hover {
          color: $selectedColor;
          background-color: darken($navBGColor, 5%);
        }

        &.navPaging {

          &:hover {
            background-color: $navBGColor;
            cursor: default;
          }

          span {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin: 0 5px;
            width: 20px;
            height: 20px;
            display: inline-block;
            text-align: center;
            line-height: .7;
            color: white;
            font-size: 1.8em;

            &#prev {
              background-color: $prevBGColor;
              &:hover {
                background-color: darken($prevBGColor, 10%);
                color: darken(white, 10%);
                cursor: pointer;
              }
            }

            &#next {
              background-color: $nextBGColor;
              &:hover {
                background-color: darken($nextBGColor, 10%);
                color: darken(white, 10%);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  #prettyEvents {
    clear: left;

    .day {
      header.date {
        font-weight: bold;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }

    .event {
      line-height: 2;
      border-bottom: 1px solid #fff;
      background-color: #fbfafa;
      display:flex;

      &.zebra {
        background-color: $background-light;
      }

      span {
        padding-left: 10px;
        display: inline-block;
      }

      span.time {
        width: 20%;
        background-color: #ebebeb;
        font-weight: bold;
      }

      span.title {
        width: 40%;
      }

      span.venue {
        width: 35%;
      }
    }
  }
}

@media screen {
  #links {
    padding-left: 10px;
  }

  #prettyEvents {
    div.bordered {
      width: 100%;
    }
  }

  #filterset {
    border: 1px solid #999;
    border-radius: 0 0 5px 5px;
    background-color: #e8e8e8;
    padding: 10px;
    margin: 10px;
  }

  #filterset input[type=text] {
    border: 1px solid #999;
    padding: 2px;
  }

  #filterset legend {
    padding: 1px 20px;
    border: 1px solid #999;
    border-radius: 0 0 4px 4px;
    background-color: white;
  }
}

@media print {
  html {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
  }

  #prettyEvents div.bordered {
    margin: 0 10px 10px;
    padding: 0 10px 10px;
  }

  #prettyEvents span.date {
    font-size: 1.1em;
  }

  #filterset, #links {
    display: none;
  }

  div.event {
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}