$background-light: #f6f6f6;
$selectedColor: #484949;
$navButtonBGColorDisabled: #b0bdc4;
$navButtonBGColor: #676666;
$navBGColor: #d0e2ed;
$input-border: #dcdcdc;
$input-hover: #f1f2f3;
$inputBGColor: #fbfbfb;
$calendarBorder: #d0d0d0;
$defaultLink: #00e;
$selectedInput: #1b97ee;
$selectedCheckboxLabel: #4e9ecd;
$selectedCalendarBackground: #c5c3c3;
$linkButtonColor: #d42741;

/* mobile colors */
$selectedBackgroundCircle: #6fbce9;
$eventIndicatorColor: #51cfd4;
$zebraStripe: #ecebeb;
$dark-text: #65707a;
$light-text: #adb2b6;

html, body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  min-height: 100%;
}

@media all {
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  #pageTitle {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
  }

  #emptyList {
    display: block;
    text-align: center;
    line-height: 3;
  }

  header {
    $elementHeight: 24px;
    clear: both;
    background-color: $background-light;

    h1 {
      display: inline-block;
      font-size: $elementHeight;
      margin: 16px;
    }
    input, #viewCalendar, #viewPrintable, #open-menu {
      margin: 16px;
      float: right;
      vertical-align: middle;
      height: $elementHeight;
      border-radius: 1px;
    }
    input {
      padding-left: 5px;
      background: white url('../img/calendar.png') 95% 50% no-repeat;
      border: 1px solid $input-border;
      -webkit-box-shadow: inset 3px 3px 5px $background-light;
      -moz-box-shadow: inset 3px 3px 5px $background-light;
      box-shadow: inset 3px 3px 5px $background-light;
    }
    #viewCalendar, #viewPrintable, #open-menu {
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      font-size: 0.7em;
      line-height: 2;
      padding: 0 24px;
      color: white;
      background-color: $linkButtonColor;
      border: 1px solid $linkButtonColor;
    }
  }

  #navigation {
    background-color: $navBGColor;
    clear: both;
    width: 100%;
    color: #a2afb7;

    .isToday, .isSelected {
      color: $selectedColor;
    }
    .dayOfWeek {
      font-weight: bold;
    }

    ul {
      margin: 0;

      li {
        line-height: 4;
        text-decoration: none;
        display: inline-block;
        width: 12%;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;

        &:hover {
          color: $selectedColor;
          background-color: darken($navBGColor, 5%);
        }

        &.navPaging {

          &:hover {
            background-color: $navBGColor;
            cursor: default;
          }

          span {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin: 0 5px;
            width: 20px;
            height: 20px;
            display: inline-block;
            text-align: center;
            line-height: .7;
            color: white;
            font-size: 1.8em;

            &#prev, &#next {
              background-color: $navButtonBGColor;
              &:hover {
                background-color: darken($navButtonBGColorDisabled, 10%);
                color: darken(white, 10%);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  #prettyEvents {
    clear: left;

    .day {
      header.date {
        font-weight: bold;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }

    .event {
      line-height: 2;
      border-bottom: 1px solid #fff;
      background-color: #fbfafa;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      &.zebra {
        background-color: $background-light;
      }

      span {
        padding-left: 10px;
        display: inline-block;
      }

      span.time {
        width: 20%;
        background-color: #ebebeb;
        font-weight: bold;
      }

      span.title {
        width: 40%;
      }

      span.venue {
        width: 35%;
      }
    }
  }
}

@media screen {
  #links {
    padding-left: 10px;
  }

  #prettyEvents {
    div.bordered {
      width: 100%;
    }
  }

  #filterset {
    border: 1px solid #999;
    border-radius: 0 0 5px 5px;
    background-color: #e8e8e8;
    padding: 10px;
    margin: 10px;
  }

  #filterset input[type=text] {
    border: 1px solid #999;
    padding: 2px;
  }

  #filterset legend {
    padding: 1px 20px;
    border: 1px solid #999;
    border-radius: 0 0 4px 4px;
    background-color: white;
  }
}

@media screen and (max-width:800px) {
  #navigation {
    background-color: $navBGColor;
    clear: both;
    width: 100%;
    color: #a2afb7;

    .isToday, .isSelected {
      color: $selectedColor;
    }
    .dayOfWeek {
      font-weight: bold;
    }

    ul {
      margin: 0;

      li {
        line-height: 4;
        text-decoration: none;
        display: inline-block;
        width: 25%;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
}

@import 'desktop';
@import 'tablet';
@import 'mobile';
@import 'print';