$background-light: #f6f6f6;
$selectedColor: #484949;
$navButtonBGColorDisabled: #b0bdc4;
$navButtonBGColor: #676666;
$navBGColor: #d0e2ed;
$input-border: #dcdcdc;
$input-hover: #f1f2f3;
$inputBGColor: #fbfbfb;
$calendarBorder: #d0d0d0;
$defaultLink: #00e;
$selectedInput: #1b97ee;
$selectedCheckboxLabel: #4e9ecd;
$selectedCalendarBackground: #c5c3c3;
$linkButtonColor: #d42741;

/* mobile colors */
$selectedBackgroundCircle: #6fbce9;
$eventIndicatorColor: #51cfd4;
$zebraStripe: #ecebeb;
$dark-text: #65707a;
$light-text: #adb2b6;

html, body {
  border: 0;
  padding: 0;
  margin: 0;
}

@media all {
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  #pageTitle {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
  }

  #emptyList {
    display: block;
    text-align: center;
    line-height: 3;
  }

  header {
    $elementHeight: 24px;
    clear: both;
    background-color: $background-light;

    h1 {
      display: inline-block;
      font-size: $elementHeight;
      margin: 16px;
    }
    input, #viewCalendar {
      margin: 16px;
      float: right;
      vertical-align: middle;
      height: $elementHeight;
      border-radius: 1px;
    }
    input {
      padding-left: 5px;
      background: white url('../img/calendar.png') 95% 50% no-repeat;
      border: 1px solid $input-border;
      -webkit-box-shadow: inset 3px 3px 5px $background-light;
      -moz-box-shadow: inset 3px 3px 5px $background-light;
      box-shadow: inset 3px 3px 5px $background-light;
    }
    #viewCalendar {
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      text-align: center;
      font-size: 0.7em;
      line-height: 2;
      padding: 0 24px;
      color: white;
      background-color: $linkButtonColor;
      border: 1px solid $linkButtonColor;
    }
  }

  #navigation {
    background-color: $navBGColor;
    clear: both;
    width: 100%;
    color: #a2afb7;

    .isToday, .isSelected {
      color: $selectedColor;
    }
    .dayOfWeek {
      font-weight: bold;
    }

    ul {
      margin: 0;

      li {
        line-height: 4;
        text-decoration: none;
        display: inline-block;
        width: 12%;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;

        &:hover {
          color: $selectedColor;
          background-color: darken($navBGColor, 5%);
        }

        &.navPaging {

          &:hover {
            background-color: $navBGColor;
            cursor: default;
          }

          span {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            margin: 0 5px;
            width: 20px;
            height: 20px;
            display: inline-block;
            text-align: center;
            line-height: .7;
            color: white;
            font-size: 1.8em;

            &#prev, &#next {
              background-color: $navButtonBGColor;
              &:hover {
                background-color: darken($navButtonBGColorDisabled, 10%);
                color: darken(white, 10%);
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  #prettyEvents {
    clear: left;

    .day {
      header.date {
        font-weight: bold;
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }

    .event {
      line-height: 2;
      border-bottom: 1px solid #fff;
      background-color: #fbfafa;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;

      &.zebra {
        background-color: $background-light;
      }

      span {
        padding-left: 10px;
        display: inline-block;
      }

      span.time {
        width: 20%;
        background-color: #ebebeb;
        font-weight: bold;
      }

      span.title {
        width: 40%;
      }

      span.venue {
        width: 35%;
      }
    }
  }
}

@media screen {
  #links {
    padding-left: 10px;
  }

  #prettyEvents {
    div.bordered {
      width: 100%;
    }
  }

  #filterset {
    border: 1px solid #999;
    border-radius: 0 0 5px 5px;
    background-color: #e8e8e8;
    padding: 10px;
    margin: 10px;
  }

  #filterset input[type=text] {
    border: 1px solid #999;
    padding: 2px;
  }

  #filterset legend {
    padding: 1px 20px;
    border: 1px solid #999;
    border-radius: 0 0 4px 4px;
    background-color: white;
  }
}

@media screen and (min-width: 801px) {
  #Calendar {
    margin: 2em;
    background-color: white;

    div {
      width: 100%;

      .calendarRow {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex: auto;

        .day {
          border: 1px solid #d0d0d0;
          min-height: 11em;

          &.notCurrentMonth {
            color: #d0d0d0;

            a {
              color: lighten($defaultLink, 40%);
            }
          }

          header {
            background-color: inherit;
            line-height: 2;
            padding-left: 1em;
            font-size: 0.8em;

            span.today {
              float: right;
              text-transform: uppercase;
              margin-right: 1em;
              font-size: 0.9em;
              color: #d47211;
            }
          }

          a {
            display: block;
            margin: .5em auto;
            padding-bottom: .5em;
            font-size: .8em;
            width: 90%;
            text-decoration: none;
            color: $defaultLink;
          }

          &.today {
            background-color: #f9fae5;
          }

          .event {
            margin: .5em auto;
            padding-bottom: .5em;
            font-size: .8em;
            width: 90%;
            border-bottom: 1px dotted #c5c5c5;

            .time {
              font-weight: bold;
            }
            &.last {
              border: 0;
            }
          }
        }
      }
    }

    .dayOfWeek {
      background-color: $navBGColor;
      font-weight: bold;
      text-align: center;
      line-height: 3;
      border: 0;
      margin: 0;
      flex: auto;
    }
  }

  header#calendarHeader {
    #currentMonth {
      min-width: 5em;
    }
    span {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin: 0 5px;
      width: 20px;
      height: 20px;
      display: inline-block;
      text-align: center;
      line-height: .5;
      color: white;
      font-size: 1.8em;

      &#next, &#prev {
        background-color: $navButtonBGColor;
        &:hover {
          background-color: darken($navButtonBGColor, 10%);
          color: darken(white, 10%);
          cursor: pointer;
        }
      }
    }
  }

  #filters {
    line-height: 1.25;
    margin: 2em;

    input[type=checkbox] {
      &:checked + label, &:checked + span {
        color: $selectedCheckboxLabel;
      }
    }

    #multiselects {
      display: inline;

      .pickList {
        min-width: 10em;
        display: inline-block;
        position: relative;
        margin: 0 1em;
        span {
          width: 10em;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
          cursor: pointer;
          display: inline-block;
          border: 1px solid $input-border;
          padding: 0.5em;
          -webkit-box-shadow: inset 2px 2px 2px $background-light;
          -moz-box-shadow: inset 2px 2px 2px $background-light;
          box-shadow: inset 2px 2px 2px $background-light;
        }

        ul {
          position: absolute;
          padding: 0;
          min-width: 11em;
          background-color: $inputBGColor;
          border: 1px solid $input-border;
          margin: 0;

          li {
            padding: .2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            list-style: none;
            cursor: pointer;
            &:hover {
              background-color: $input-hover;
            }
            label, input {
              cursor: pointer;
            }
            label {
              margin-left: 0.3em;
            }
          }
        }
      }
    }

    button {
      min-width: 12em;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      cursor: pointer;
      display: inline-block;
      border: 1px solid $input-border;
      -webkit-box-shadow: inset 2px 2px 2px $background-light;
      -moz-box-shadow: inset 2px 2px 2px $background-light;
      box-shadow: inset 2px 2px 2px $background-light;
      padding: 2px 0 1px;
      border-radius: 0;
      background: white;
      color: inherit;
      font: inherit;
      line-height: inherit;
    }
  }
  .comiseo-daterangepicker {
    background: white;
    border-radius: 0;
    font-family: inherit;

    .comiseo-daterangepicker-buttonpanel {
      button {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-weight: normal;
        background: $inputBGColor;
      }
    }
    .comiseo-daterangepicker-main {
      background: inherit;
      .ui-widget-content {
        background: inherit;
      }
      .comiseo-daterangepicker-presets {
        display: none;
      }
      .comiseo-daterangepicker-calendar {
        border: 0;

        .ui-state-highlight {
          background: none $selectedCalendarBackground;

          a.ui-state-default {
            color: white;
            border: 0;
            background-color: inherit;
          }
        }
        .ui-datepicker-current-day, .calendarOuterSelection {
          background: none $linkButtonColor;

          a.ui-state-default {
            color: white;
            border: 0;
            background-color: inherit;
          }
        }
      }
      .ui-datepicker-header {
        background: none;
        border: 0;
        color: inherit;
      }
      .ui-datepicker-calendar {
        border-left: 1px solid $input-border;
      }
      .ui-widget-header {
        .ui-state-hover {
          background: none;
          border: 0;
        }
      }
      .ui-datepicker-group {
        .ui-datepicker-prev {
          cursor: pointer;
          .ui-icon {
            opacity: .9;
            background: url(../img/sprites.png) 0 -14px;
          }
          &.ui-state-disabled {
            .ui-icon {
              opacity: .3;
            }
          }
          &.ui-state-hover {
            .ui-icon {
              opacity: 1;
            }
          }
        }
        .ui-datepicker-next {
          cursor: pointer;
          .ui-icon {
            opacity: .9;
            background: url(../img/sprites.png) 0 -31px;
          }
          &.ui-state-disabled {
            .ui-icon {
              opacity: .3;
              background: url(../img/sprites.png) 0 -31px;
            }
          }
          &.ui-state-hover {
            .ui-icon {
              opacity: 1;
              background: url(../img/sprites.png) 0 -31px;
            }
          }
        }
      }
      .ui-datepicker-group-first {
        .ui-datepicker-calendar {
          border: 0;
        }
      }
    }
    td {
      text-align: center;
      .ui-datepicker-current-day {
        background-color: $selectedCalendarBackground;
      }
      .ui-state-default {
        border: 0;
        font-weight: normal;
        color: inherit;
        background: inherit;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #Calendar {
    background-color: white;

    div {
      width: 100%;

      #calendarHolder {
        margin: .5em;
        .calendarRow {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex: auto;
          align-items: center;

          .day {
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            align-items: center;
            color: $dark-text;

            &.notCurrentMonth {
              color: $light-text;
            }

            &.selected {

              header {
                color: white;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                background-color: $selectedBackgroundCircle;
                background-clip: padding-box;
                height: 3em;
                width: 3em;
                margin: 0 auto;
              }

              .indicator {
                background-color: #618092;
              }
            }

            header {
              line-height: 3;
              background: none;
            }
            div {
              width: 5px;
              height: 5px;
              top: -10px;
              position: relative;
            }

            .indicator {
              background-color: $eventIndicatorColor;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              margin: 0 auto;
            }

            &.today {
              background-color: #f9fae5;
            }
          }
        }
      }

      #eventList {
        div {
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          flex: auto;
          align-items: center;
          background-color: $background-light;
          &.zebra {
            background-color: $zebraStripe;
          }
          span {
            margin: 1em;
            &.time {
              min-width: 5em;
              max-width: 5em;
              color: #3e3e3e;
              span {
                margin: 0;
              }
              .meridiem {
                padding-left: 0.6em;
                align-items: center;
                text-transform: uppercase;
                font-size: 0.7em;
                color: #606366;
                position: relative;
                top: -.05em;
              }
            }
            &.description {
              color: $dark-text;
            }
          }
        }
      }
    }

    .dayOfWeek {
      color: $dark-text;
      font-size: 0.8em;
      text-align: center;
      line-height: 3;
      border: 0;
      margin: 0;
      flex: auto;
      align-items: center;
    }
  }

  header#calendarHeader {
    #currentMonth {
      min-width: 5em;
    }
    span {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin: 0 5px;
      width: 20px;
      height: 20px;
      display: inline-block;
      text-align: center;
      line-height: .5;
      color: white;
      font-size: 1.8em;

      &#next, &#prev {
        background-color: $navButtonBGColor;
        &:hover {
          background-color: darken($navButtonBGColor, 10%);
          color: darken(white, 10%);
          cursor: pointer;
        }
      }
    }
  }

  #filters {
    line-height: 1.25;
    margin: 2em;

    input[type=checkbox] {
      &:checked + label, &:checked + span {
        color: $selectedCheckboxLabel;
      }
    }

    #multiselects {
      display: inline;

      .pickList {
        min-width: 10em;
        display: inline-block;
        position: relative;
        margin: 0 1em;
        span {
          width: 10em;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
          cursor: pointer;
          display: inline-block;
          border: 1px solid $input-border;
          padding: 0.5em;
          -webkit-box-shadow: inset 2px 2px 2px $background-light;
          -moz-box-shadow: inset 2px 2px 2px $background-light;
          box-shadow: inset 2px 2px 2px $background-light;
        }

        ul {
          position: absolute;
          padding: 0;
          min-width: 11em;
          background-color: $inputBGColor;
          border: 1px solid $input-border;
          margin: 0;

          li {
            padding: .2em;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: row;
            list-style: none;
            cursor: pointer;
            &:hover {
              background-color: $input-hover;
            }
            label, input {
              cursor: pointer;
            }
            label {
              margin-left: 0.3em;
            }
          }
        }
      }
    }

    button {
      min-width: 12em;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      cursor: pointer;
      display: inline-block;
      border: 1px solid $input-border;
      -webkit-box-shadow: inset 2px 2px 2px $background-light;
      -moz-box-shadow: inset 2px 2px 2px $background-light;
      box-shadow: inset 2px 2px 2px $background-light;
      padding: 2px 0 1px;
      border-radius: 0;
      background: white;
      color: inherit;
      font: inherit;
      line-height: inherit;
    }
  }
  .comiseo-daterangepicker {
    background: white;
    border-radius: 0;
    font-family: inherit;

    .comiseo-daterangepicker-buttonpanel {
      button {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        font-weight: normal;
        background: $inputBGColor;
      }
    }
    .comiseo-daterangepicker-main {
      background: inherit;
      .ui-widget-content {
        background: inherit;
      }
      .comiseo-daterangepicker-presets {
        display: none;
      }
      .comiseo-daterangepicker-calendar {
        border: 0;

        .ui-state-highlight {
          background: none $selectedCalendarBackground;

          a.ui-state-default {
            color: white;
            border: 0;
            background-color: inherit;
          }
        }
        .ui-datepicker-current-day, .calendarOuterSelection {
          background: none $linkButtonColor;

          a.ui-state-default {
            color: white;
            border: 0;
            background-color: inherit;
          }
        }
      }
      .ui-datepicker-header {
        background: none;
        border: 0;
        color: inherit;
      }
      .ui-datepicker-calendar {
        border-left: 1px solid $input-border;
      }
      .ui-widget-header {
        .ui-state-hover {
          background: none;
          border: 0;
        }
      }
      .ui-datepicker-group {
        .ui-datepicker-prev {
          cursor: pointer;
          .ui-icon {
            opacity: .9;
            background: url(../img/sprites.png) 0 -14px;
          }
          &.ui-state-disabled {
            .ui-icon {
              opacity: .3;
            }
          }
          &.ui-state-hover {
            .ui-icon {
              opacity: 1;
            }
          }
        }
        .ui-datepicker-next {
          cursor: pointer;
          .ui-icon {
            opacity: .9;
            background: url(../img/sprites.png) 0 -31px;
          }
          &.ui-state-disabled {
            .ui-icon {
              opacity: .3;
              background: url(../img/sprites.png) 0 -31px;
            }
          }
          &.ui-state-hover {
            .ui-icon {
              opacity: 1;
              background: url(../img/sprites.png) 0 -31px;
            }
          }
        }
      }
      .ui-datepicker-group-first {
        .ui-datepicker-calendar {
          border: 0;
        }
      }
    }
    td {
      text-align: center;
      .ui-datepicker-current-day {
        background-color: $selectedCalendarBackground;
      }
      .ui-state-default {
        border: 0;
        font-weight: normal;
        color: inherit;
        background: inherit;
      }
    }
  }

}

@media print {
  html {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
  }

  #prettyEvents div.bordered {
    margin: 0 10px 10px;
    padding: 0 10px 10px;
  }

  #prettyEvents span.date {
    font-size: 1.1em;
  }

  #filterset, #links {
    display: none;
  }

  div.event {
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
