/* line 16, ../sass/list-view.scss */
html, body {
  border: 0;
  padding: 0;
  margin: 0;
}

@media all {
  /* line 23, ../sass/list-view.scss */
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  /* line 27, ../sass/list-view.scss */
  #pageTitle {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
  }

  /* line 34, ../sass/list-view.scss */
  #emptyList {
    display: block;
    text-align: center;
    line-height: 3;
  }

  /* line 40, ../sass/list-view.scss */
  header {
    clear: both;
    background-color: #f6f6f6;
  }
  /* line 45, ../sass/list-view.scss */
  header h1 {
    display: inline-block;
    font-size: 24px;
    margin: 16px;
  }
  /* line 50, ../sass/list-view.scss */
  header input, header #viewCalendar {
    margin: 16px;
    float: right;
    vertical-align: middle;
    height: 24px;
    border-radius: 1px;
  }
  /* line 57, ../sass/list-view.scss */
  header input {
    padding-left: 5px;
    background: white url("../img/calendar.png") 95% 50% no-repeat;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: inset 3px 3px 5px #f6f6f6;
    -moz-box-shadow: inset 3px 3px 5px #f6f6f6;
    box-shadow: inset 3px 3px 5px #f6f6f6;
  }
  /* line 65, ../sass/list-view.scss */
  header #viewCalendar {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
    line-height: 2;
    padding: 0 24px;
    color: white;
    background-color: #d42741;
    border: 1px solid #d42741;
  }

  /* line 79, ../sass/list-view.scss */
  #navigation {
    background-color: #d0e2ed;
    clear: both;
    width: 100%;
    color: #a2afb7;
  }
  /* line 85, ../sass/list-view.scss */
  #navigation .isToday, #navigation .isSelected {
    color: #484949;
  }
  /* line 88, ../sass/list-view.scss */
  #navigation .dayOfWeek {
    font-weight: bold;
  }
  /* line 92, ../sass/list-view.scss */
  #navigation ul {
    margin: 0;
  }
  /* line 95, ../sass/list-view.scss */
  #navigation ul li {
    line-height: 4;
    text-decoration: none;
    display: inline-block;
    width: 12%;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
  }
  /* line 104, ../sass/list-view.scss */
  #navigation ul li:hover {
    color: #484949;
    background-color: #bed7e6;
  }
  /* line 111, ../sass/list-view.scss */
  #navigation ul li.navPaging:hover {
    background-color: #d0e2ed;
    cursor: default;
  }
  /* line 116, ../sass/list-view.scss */
  #navigation ul li.navPaging span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: .7;
    color: white;
    font-size: 1.8em;
  }
  /* line 129, ../sass/list-view.scss */
  #navigation ul li.navPaging span#prev, #navigation ul li.navPaging span#next {
    background-color: #676666;
  }
  /* line 131, ../sass/list-view.scss */
  #navigation ul li.navPaging span#prev:hover, #navigation ul li.navPaging span#next:hover {
    background-color: #93a5ae;
    color: #e6e6e6;
    cursor: pointer;
  }

  /* line 143, ../sass/list-view.scss */
  #prettyEvents {
    clear: left;
  }
  /* line 147, ../sass/list-view.scss */
  #prettyEvents .day header.date {
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  /* line 155, ../sass/list-view.scss */
  #prettyEvents .event {
    line-height: 2;
    border-bottom: 1px solid #fff;
    background-color: #fbfafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  /* line 164, ../sass/list-view.scss */
  #prettyEvents .event.zebra {
    background-color: #f6f6f6;
  }
  /* line 168, ../sass/list-view.scss */
  #prettyEvents .event span {
    padding-left: 10px;
    display: inline-block;
  }
  /* line 173, ../sass/list-view.scss */
  #prettyEvents .event span.time {
    width: 20%;
    background-color: #ebebeb;
    font-weight: bold;
  }
  /* line 179, ../sass/list-view.scss */
  #prettyEvents .event span.title {
    width: 40%;
  }
  /* line 183, ../sass/list-view.scss */
  #prettyEvents .event span.venue {
    width: 35%;
  }

  /* line 189, ../sass/list-view.scss */
  #Calendar {
    margin: 2em;
    background-color: white;
  }
  /* line 193, ../sass/list-view.scss */
  #Calendar div {
    width: 100%;
  }
  /* line 196, ../sass/list-view.scss */
  #Calendar div .calendarRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  /* line 204, ../sass/list-view.scss */
  #Calendar div .calendarRow .day {
    border: 1px solid #d0d0d0;
    min-height: 11em;
  }
  /* line 208, ../sass/list-view.scss */
  #Calendar div .calendarRow .day.notCurrentMonth {
    color: #d0d0d0;
  }
  /* line 211, ../sass/list-view.scss */
  #Calendar div .calendarRow .day.notCurrentMonth a {
    color: #bbbbff;
  }
  /* line 216, ../sass/list-view.scss */
  #Calendar div .calendarRow .day header {
    background-color: inherit;
    line-height: 2;
    padding-left: 1em;
    font-size: 0.8em;
  }
  /* line 222, ../sass/list-view.scss */
  #Calendar div .calendarRow .day header span.today {
    float: right;
    text-transform: uppercase;
    margin-right: 1em;
    font-size: 0.9em;
    color: #d47211;
  }
  /* line 231, ../sass/list-view.scss */
  #Calendar div .calendarRow .day a {
    display: block;
    margin: .5em auto;
    padding-bottom: .5em;
    font-size: .8em;
    width: 90%;
    text-decoration: none;
    color: #00e;
  }
  /* line 241, ../sass/list-view.scss */
  #Calendar div .calendarRow .day.today {
    background-color: #f9fae5;
  }
  /* line 245, ../sass/list-view.scss */
  #Calendar div .calendarRow .day .event {
    margin: .5em auto;
    padding-bottom: .5em;
    font-size: .8em;
    width: 90%;
    border-bottom: 1px dotted #c5c5c5;
  }
  /* line 252, ../sass/list-view.scss */
  #Calendar div .calendarRow .day .event .time {
    font-weight: bold;
  }
  /* line 255, ../sass/list-view.scss */
  #Calendar div .calendarRow .day .event.last {
    border: 0;
  }
  /* line 263, ../sass/list-view.scss */
  #Calendar .dayOfWeek {
    background-color: #d0e2ed;
    font-weight: bold;
    text-align: center;
    line-height: 3;
    border: 0;
    margin: 0;
    flex: auto;
  }

  /* line 275, ../sass/list-view.scss */
  header#calendarHeader #currentMonth {
    min-width: 5em;
  }
  /* line 278, ../sass/list-view.scss */
  header#calendarHeader span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: .5;
    color: white;
    font-size: 1.8em;
  }
  /* line 291, ../sass/list-view.scss */
  header#calendarHeader span#next, header#calendarHeader span#prev {
    background-color: #676666;
  }
  /* line 293, ../sass/list-view.scss */
  header#calendarHeader span#next:hover, header#calendarHeader span#prev:hover {
    background-color: #4d4d4d;
    color: #e6e6e6;
    cursor: pointer;
  }

  /* line 302, ../sass/list-view.scss */
  #filters {
    line-height: 1.25;
    margin: 2em;
  }
  /* line 307, ../sass/list-view.scss */
  #filters input[type=checkbox]:checked + label, #filters input[type=checkbox]:checked + span {
    color: #4e9ecd;
  }
  /* line 312, ../sass/list-view.scss */
  #filters #multiselects {
    display: inline;
  }
  /* line 315, ../sass/list-view.scss */
  #filters #multiselects .pickList {
    min-width: 10em;
    display: inline-block;
    position: relative;
    margin: 0 1em;
  }
  /* line 320, ../sass/list-view.scss */
  #filters #multiselects .pickList span {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #dcdcdc;
    padding: 0.5em;
    -webkit-box-shadow: inset 2px 2px 2px #f6f6f6;
    -moz-box-shadow: inset 2px 2px 2px #f6f6f6;
    box-shadow: inset 2px 2px 2px #f6f6f6;
  }
  /* line 334, ../sass/list-view.scss */
  #filters #multiselects .pickList ul {
    position: absolute;
    padding: 0;
    min-width: 11em;
    background-color: #fbfbfb;
    border: 1px solid #dcdcdc;
    margin: 0;
  }
  /* line 342, ../sass/list-view.scss */
  #filters #multiselects .pickList ul li {
    padding: .2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
  }
  /* line 351, ../sass/list-view.scss */
  #filters #multiselects .pickList ul li:hover {
    background-color: #f1f2f3;
  }
  /* line 354, ../sass/list-view.scss */
  #filters #multiselects .pickList ul li label, #filters #multiselects .pickList ul li input {
    cursor: pointer;
  }
  /* line 357, ../sass/list-view.scss */
  #filters #multiselects .pickList ul li label {
    margin-left: 0.3em;
  }
  /* line 365, ../sass/list-view.scss */
  #filters button {
    min-width: 12em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: inset 2px 2px 2px #f6f6f6;
    -moz-box-shadow: inset 2px 2px 2px #f6f6f6;
    box-shadow: inset 2px 2px 2px #f6f6f6;
    padding: 2px 0 1px;
    border-radius: 0;
    background: white;
    color: inherit;
    font: inherit;
    line-height: inherit;
  }

  /* line 384, ../sass/list-view.scss */
  .comiseo-daterangepicker {
    background: white;
    border-radius: 0;
    font-family: inherit;
  }
  /* line 390, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-buttonpanel button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    background: #fbfbfb;
  }
  /* line 398, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main {
    background: inherit;
  }
  /* line 400, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-widget-content {
    background: inherit;
  }
  /* line 403, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-presets {
    display: none;
  }
  /* line 406, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar {
    border: 0;
  }
  /* line 409, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-state-highlight {
    background: none #c5c3c3;
  }
  /* line 412, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
    color: white;
    border: 0;
    background-color: inherit;
  }
  /* line 418, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-datepicker-current-day, .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .calendarOuterSelection {
    background: none #d42741;
  }
  /* line 421, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-datepicker-current-day a.ui-state-default, .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .calendarOuterSelection a.ui-state-default {
    color: white;
    border: 0;
    background-color: inherit;
  }
  /* line 428, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-header {
    background: none;
    border: 0;
    color: inherit;
  }
  /* line 433, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-calendar {
    border-left: 1px solid #dcdcdc;
  }
  /* line 437, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-widget-header .ui-state-hover {
    background: none;
    border: 0;
  }
  /* line 443, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev {
    cursor: pointer;
  }
  /* line 445, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev .ui-icon {
    opacity: .9;
    background: url(../img/sprites.png) 0 -14px;
  }
  /* line 450, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev.ui-state-disabled .ui-icon {
    opacity: .3;
  }
  /* line 455, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev.ui-state-hover .ui-icon {
    opacity: 1;
  }
  /* line 460, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next {
    cursor: pointer;
  }
  /* line 462, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next .ui-icon {
    opacity: .9;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 467, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next.ui-state-disabled .ui-icon {
    opacity: .3;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 473, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next.ui-state-hover .ui-icon {
    opacity: 1;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 481, ../sass/list-view.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group-first .ui-datepicker-calendar {
    border: 0;
  }
  /* line 486, ../sass/list-view.scss */
  .comiseo-daterangepicker td {
    text-align: center;
  }
  /* line 488, ../sass/list-view.scss */
  .comiseo-daterangepicker td .ui-datepicker-current-day {
    background-color: #c5c3c3;
  }
  /* line 491, ../sass/list-view.scss */
  .comiseo-daterangepicker td .ui-state-default {
    border: 0;
    font-weight: normal;
    color: inherit;
    background: inherit;
  }
}
@media screen {
  /* line 502, ../sass/list-view.scss */
  #links {
    padding-left: 10px;
  }

  /* line 507, ../sass/list-view.scss */
  #prettyEvents div.bordered {
    width: 100%;
  }

  /* line 512, ../sass/list-view.scss */
  #filterset {
    border: 1px solid #999;
    border-radius: 0 0 5px 5px;
    background-color: #e8e8e8;
    padding: 10px;
    margin: 10px;
  }

  /* line 520, ../sass/list-view.scss */
  #filterset input[type=text] {
    border: 1px solid #999;
    padding: 2px;
  }

  /* line 525, ../sass/list-view.scss */
  #filterset legend {
    padding: 1px 20px;
    border: 1px solid #999;
    border-radius: 0 0 4px 4px;
    background-color: white;
  }
}
@media print {
  /* line 534, ../sass/list-view.scss */
  html {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
  }

  /* line 539, ../sass/list-view.scss */
  #prettyEvents div.bordered {
    margin: 0 10px 10px;
    padding: 0 10px 10px;
  }

  /* line 544, ../sass/list-view.scss */
  #prettyEvents span.date {
    font-size: 1.1em;
  }

  /* line 548, ../sass/list-view.scss */
  #filterset, #links {
    display: none;
  }

  /* line 552, ../sass/list-view.scss */
  div.event {
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
