/* line 3, ../sass/list-view.scss */
html, body {
  border: 0;
  padding: 0;
  margin: 0;
}

@media all {
  /* line 10, ../sass/list-view.scss */
  html {
    font-family: Helvetica, Arial, sans-serif;
  }

  /* line 14, ../sass/list-view.scss */
  #pageTitle {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
  }

  /* line 21, ../sass/list-view.scss */
  #emptyList {
    display: block;
    text-align: center;
    line-height: 3;
  }

  /* line 27, ../sass/list-view.scss */
  header {
    clear: both;
    background-color: #f6f6f6;
  }
  /* line 32, ../sass/list-view.scss */
  header h1 {
    display: inline-block;
    font-size: 24px;
    margin: 16px;
  }
  /* line 37, ../sass/list-view.scss */
  header input, header #viewCalendar {
    margin: 16px;
    float: right;
    vertical-align: middle;
    height: 24px;
    border-radius: 1px;
  }
  /* line 44, ../sass/list-view.scss */
  header input {
    padding-left: 5px;
    background: white url("../img/calendar.png") 95% 50% no-repeat;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: inset 3px 3px 5px #f6f6f6;
    -moz-box-shadow: inset 3px 3px 5px #f6f6f6;
    box-shadow: inset 3px 3px 5px #f6f6f6;
  }
  /* line 52, ../sass/list-view.scss */
  header #viewCalendar {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
    line-height: 2;
    padding: 0 24px;
    color: white;
    background-color: #d42741;
    border: 1px solid #d42741;
  }

  /* line 66, ../sass/list-view.scss */
  #navigation {
    background-color: #d0e2ed;
    clear: both;
    width: 100%;
    color: #a2afb7;
  }
  /* line 77, ../sass/list-view.scss */
  #navigation .isToday, #navigation .isSelected {
    color: #484949;
  }
  /* line 80, ../sass/list-view.scss */
  #navigation .dayOfWeek {
    font-weight: bold;
  }
  /* line 84, ../sass/list-view.scss */
  #navigation ul {
    margin: 0;
  }
  /* line 87, ../sass/list-view.scss */
  #navigation ul li {
    line-height: 4;
    text-decoration: none;
    display: inline-block;
    width: 12%;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
  }
  /* line 96, ../sass/list-view.scss */
  #navigation ul li:hover {
    color: #484949;
    background-color: #bed7e6;
  }
  /* line 103, ../sass/list-view.scss */
  #navigation ul li.navPaging:hover {
    background-color: #d0e2ed;
    cursor: default;
  }
  /* line 108, ../sass/list-view.scss */
  #navigation ul li.navPaging span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: .7;
    color: white;
    font-size: 1.8em;
  }
  /* line 121, ../sass/list-view.scss */
  #navigation ul li.navPaging span#prev {
    background-color: #b0bdc4;
  }
  /* line 123, ../sass/list-view.scss */
  #navigation ul li.navPaging span#prev:hover {
    background-color: #93a5ae;
    color: #e6e6e6;
    cursor: pointer;
  }
  /* line 130, ../sass/list-view.scss */
  #navigation ul li.navPaging span#next {
    background-color: #676666;
  }
  /* line 132, ../sass/list-view.scss */
  #navigation ul li.navPaging span#next:hover {
    background-color: #4d4d4d;
    color: #e6e6e6;
    cursor: pointer;
  }

  /* line 144, ../sass/list-view.scss */
  #prettyEvents {
    clear: left;
  }
  /* line 148, ../sass/list-view.scss */
  #prettyEvents .day header.date {
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  /* line 156, ../sass/list-view.scss */
  #prettyEvents .event {
    line-height: 2;
    border-bottom: 1px solid #fff;
    background-color: #fbfafa;
    display: flex;
  }
  /* line 162, ../sass/list-view.scss */
  #prettyEvents .event.zebra {
    background-color: #f6f6f6;
  }
  /* line 166, ../sass/list-view.scss */
  #prettyEvents .event span {
    padding-left: 10px;
    display: inline-block;
  }
  /* line 171, ../sass/list-view.scss */
  #prettyEvents .event span.time {
    width: 20%;
    background-color: #ebebeb;
    font-weight: bold;
  }
  /* line 177, ../sass/list-view.scss */
  #prettyEvents .event span.title {
    width: 40%;
  }
  /* line 181, ../sass/list-view.scss */
  #prettyEvents .event span.venue {
    width: 35%;
  }
}
@media screen {
  /* line 189, ../sass/list-view.scss */
  #links {
    padding-left: 10px;
  }

  /* line 194, ../sass/list-view.scss */
  #prettyEvents div.bordered {
    width: 100%;
  }

  /* line 199, ../sass/list-view.scss */
  #filterset {
    border: 1px solid #999;
    border-radius: 0 0 5px 5px;
    background-color: #e8e8e8;
    padding: 10px;
    margin: 10px;
  }

  /* line 207, ../sass/list-view.scss */
  #filterset input[type=text] {
    border: 1px solid #999;
    padding: 2px;
  }

  /* line 212, ../sass/list-view.scss */
  #filterset legend {
    padding: 1px 20px;
    border: 1px solid #999;
    border-radius: 0 0 4px 4px;
    background-color: white;
  }
}
@media print {
  /* line 221, ../sass/list-view.scss */
  html {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
  }

  /* line 226, ../sass/list-view.scss */
  #prettyEvents div.bordered {
    margin: 0 10px 10px;
    padding: 0 10px 10px;
  }

  /* line 231, ../sass/list-view.scss */
  #prettyEvents span.date {
    font-size: 1.1em;
  }

  /* line 235, ../sass/list-view.scss */
  #filterset, #links {
    display: none;
  }

  /* line 239, ../sass/list-view.scss */
  div.event {
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
