/* mobile colors */
/* line 23, ../sass/list-view.scss */
html, body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: white;
  min-height: 100%;
}

@media all {
  /* line 32, ../sass/list-view.scss */
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  /* line 36, ../sass/list-view.scss */
  #pageTitle {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0 auto;
    text-align: center;
  }

  /* line 43, ../sass/list-view.scss */
  #emptyList {
    display: block;
    text-align: center;
    line-height: 3;
  }

  /* line 49, ../sass/list-view.scss */
  header {
    clear: both;
    background-color: #f6f6f6;
  }
  /* line 53, ../sass/list-view.scss */
  header h1 {
    display: inline-block;
    margin: 16px;
  }
  /* line 57, ../sass/list-view.scss */
  header input, header #viewCalendar, header .linkButton, header #open-menu {
    margin: 16px;
    float: right;
    vertical-align: middle;
    border-radius: 1px;
  }
  /* line 63, ../sass/list-view.scss */
  header input {
    padding-left: 5px;
    background: white url("../img/calendar.png") 95% 50% no-repeat;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: inset 3px 3px 5px #f6f6f6;
    -moz-box-shadow: inset 3px 3px 5px #f6f6f6;
    box-shadow: inset 3px 3px 5px #f6f6f6;
  }
  /* line 71, ../sass/list-view.scss */
  header #viewCalendar, header .linkButton, header #open-menu {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 0.7em;
    line-height: 2;
    padding: 0 24px;
    color: white;
    background-color: #d42741;
    border: 1px solid #d42741;
  }

  /* line 85, ../sass/list-view.scss */
  #navigation {
    background-color: #d0e2ed;
    clear: both;
    width: 100%;
    color: #a2afb7;
  }
  /* line 91, ../sass/list-view.scss */
  #navigation .isToday, #navigation .isSelected {
    color: #484949;
  }
  /* line 94, ../sass/list-view.scss */
  #navigation .dayOfWeek {
    font-weight: bold;
  }
  /* line 98, ../sass/list-view.scss */
  #navigation ul {
    margin: 0;
  }
  /* line 101, ../sass/list-view.scss */
  #navigation ul li {
    line-height: 4;
    text-decoration: none;
    display: inline-block;
    width: 12%;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
  }
  /* line 110, ../sass/list-view.scss */
  #navigation ul li:hover {
    color: #484949;
    background-color: #bed7e6;
  }
  /* line 117, ../sass/list-view.scss */
  #navigation ul li.navPaging:hover {
    background-color: #d0e2ed;
    cursor: default;
  }
  /* line 122, ../sass/list-view.scss */
  #navigation ul li.navPaging span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: .7;
    color: white;
    font-size: 1.8em;
  }
  /* line 135, ../sass/list-view.scss */
  #navigation ul li.navPaging span#prev, #navigation ul li.navPaging span#next {
    background-color: #676666;
  }
  /* line 137, ../sass/list-view.scss */
  #navigation ul li.navPaging span#prev:hover, #navigation ul li.navPaging span#next:hover {
    background-color: #93a5ae;
    color: #e6e6e6;
    cursor: pointer;
  }

  /* line 149, ../sass/list-view.scss */
  #prettyEvents {
    clear: left;
  }
  /* line 153, ../sass/list-view.scss */
  #prettyEvents .day header.date {
    font-weight: bold;
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  /* line 161, ../sass/list-view.scss */
  #prettyEvents .event {
    line-height: 2;
    border-bottom: 1px solid #fff;
    background-color: #fbfafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  /* line 170, ../sass/list-view.scss */
  #prettyEvents .event.zebra {
    background-color: #f6f6f6;
  }
  /* line 174, ../sass/list-view.scss */
  #prettyEvents .event span {
    padding-left: 10px;
    display: inline-block;
  }
  /* line 179, ../sass/list-view.scss */
  #prettyEvents .event span.time {
    width: 20%;
    background-color: #ebebeb;
    font-weight: bold;
  }
  /* line 185, ../sass/list-view.scss */
  #prettyEvents .event span.title {
    width: 40%;
  }
  /* line 189, ../sass/list-view.scss */
  #prettyEvents .event span.venue {
    width: 35%;
  }
}
@media screen {
  /* line 197, ../sass/list-view.scss */
  #links {
    padding-left: 10px;
  }

  /* line 202, ../sass/list-view.scss */
  #prettyEvents div.bordered {
    width: 100%;
  }

  /* line 207, ../sass/list-view.scss */
  #filterset {
    border: 1px solid #999;
    border-radius: 0 0 5px 5px;
    background-color: #e8e8e8;
    padding: 10px;
    margin: 10px;
  }

  /* line 215, ../sass/list-view.scss */
  #filterset input[type=text] {
    border: 1px solid #999;
    padding: 2px;
  }

  /* line 220, ../sass/list-view.scss */
  #filterset legend {
    padding: 1px 20px;
    border: 1px solid #999;
    border-radius: 0 0 4px 4px;
    background-color: white;
  }
}
@media screen and (max-width: 800px) {
  /* line 229, ../sass/list-view.scss */
  #navigation {
    background-color: #d0e2ed;
    clear: both;
    width: 100%;
    color: #a2afb7;
  }
  /* line 235, ../sass/list-view.scss */
  #navigation .isToday, #navigation .isSelected {
    color: #484949;
  }
  /* line 238, ../sass/list-view.scss */
  #navigation .dayOfWeek {
    font-weight: bold;
  }
  /* line 242, ../sass/list-view.scss */
  #navigation ul {
    margin: 0;
    padding-left: 20px;
  }
  /* line 246, ../sass/list-view.scss */
  #navigation ul li {
    line-height: 4;
    text-decoration: none;
    display: inline-block;
    width: 25%;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
  }

  /* line 259, ../sass/list-view.scss */
  #prettyEvents .event span.time {
    width: 35%;
    vertical-align: middle;
    align-content: center;
  }
  /* line 264, ../sass/list-view.scss */
  #prettyEvents .event span.title {
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  /* line 272, ../sass/list-view.scss */
  #navigation {
    font-size: 0.8em;
  }

  /* line 277, ../sass/list-view.scss */
  #prettyEvents .event span.time {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1076px) {
  /* line 2, ../sass/_desktop.scss */
  #Calendar {
    margin: 2em;
    background-color: white;
  }
  /* line 6, ../sass/_desktop.scss */
  #Calendar div {
    width: 100%;
  }
  /* line 9, ../sass/_desktop.scss */
  #Calendar div .calendarRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  /* line 17, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day {
    border: 1px solid #d0d0d0;
    min-height: 11em;
  }
  /* line 21, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day.notCurrentMonth {
    color: #d0d0d0;
  }
  /* line 24, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day.notCurrentMonth a {
    color: #bbbbff;
  }
  /* line 29, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day header {
    background-color: inherit;
    line-height: 2;
    padding-left: 1em;
    font-size: 0.8em;
  }
  /* line 35, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day header span.today {
    float: right;
    text-transform: uppercase;
    margin-right: 1em;
    font-size: 0.9em;
    color: #d47211;
  }
  /* line 44, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day a {
    display: block;
    margin: .5em auto;
    padding-bottom: .5em;
    font-size: .8em;
    width: 90%;
    text-decoration: none;
    color: #00e;
  }
  /* line 54, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day.today {
    background-color: #f9fae5;
  }
  /* line 58, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day .event {
    margin: .5em auto;
    padding-bottom: .5em;
    font-size: .8em;
    width: 90%;
    border-bottom: 1px dotted #c5c5c5;
  }
  /* line 65, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day .event .time {
    font-weight: bold;
  }
  /* line 68, ../sass/_desktop.scss */
  #Calendar div .calendarRow .day .event.last {
    border: 0;
  }
  /* line 76, ../sass/_desktop.scss */
  #Calendar .dayOfWeek {
    background-color: #d0e2ed;
    font-weight: bold;
    text-align: center;
    line-height: 3;
    border: 0;
    margin: 0;
    flex: auto;
  }

  /* line 88, ../sass/_desktop.scss */
  header#calendarHeader #innerHeader {
    display: none;
  }
  /* line 91, ../sass/_desktop.scss */
  header#calendarHeader #outerLogo {
    top: 10px;
    position: relative;
    margin-left: 16px;
    background: url(../img/ICA-color-logo.png) no-repeat;
    height: 40px;
    width: 125px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
  }
  /* line 102, ../sass/_desktop.scss */
  header#calendarHeader span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: .5;
    color: white;
    font-size: 1.8em;
  }
  /* line 115, ../sass/_desktop.scss */
  header#calendarHeader span#next, header#calendarHeader span#prev {
    background-color: #676666;
  }
  /* line 117, ../sass/_desktop.scss */
  header#calendarHeader span#next:hover, header#calendarHeader span#prev:hover {
    background-color: #4d4d4d;
    color: #e6e6e6;
    cursor: pointer;
  }
  /* line 124, ../sass/_desktop.scss */
  header#calendarHeader #currentMonth {
    min-width: 5em;
  }
  /* line 127, ../sass/_desktop.scss */
  header#calendarHeader #open-menu {
    display: none;
  }

  /* Hide filter drawer on desktop */
  /* line 133, ../sass/_desktop.scss */
  #mm-filters,
  #filters-mobile {
    display: none !important;
  }

  /* line 138, ../sass/_desktop.scss */
  #filters {
    margin: 1em;
    line-height: 1.25;
  }
  /* line 142, ../sass/_desktop.scss */
  #filters ul {
    margin: 0;
    padding: 0;
  }
  /* line 145, ../sass/_desktop.scss */
  #filters ul li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }
  /* line 153, ../sass/_desktop.scss */
  #filters input[type=checkbox]:checked + label, #filters input[type=checkbox]:checked + span {
    color: #4e9ecd;
  }
  /* line 158, ../sass/_desktop.scss */
  #filters .pickList {
    min-width: 10em;
    display: inline-block;
    position: relative;
  }
  /* line 162, ../sass/_desktop.scss */
  #filters .pickList span {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #dcdcdc;
    padding: 0.5em;
    -webkit-box-shadow: inset 2px 2px 2px #f6f6f6;
    -moz-box-shadow: inset 2px 2px 2px #f6f6f6;
    box-shadow: inset 2px 2px 2px #f6f6f6;
  }
  /* line 175, ../sass/_desktop.scss */
  #filters .pickList span div.bg-img {
    height: 17px;
    width: 17px;
    display: inline-block;
    background: -69px -17px white url(../js/jquery-ui/images/ui-icons_ef8c08_256x240.png);
    position: absolute;
    right: 4px;
    top: 14px;
    box-shadow: -10px 0 5px white, 3px 0 0 white;
  }
  /* line 185, ../sass/_desktop.scss */
  #filters .pickList span span {
    overflow: hidden;
    display: inline;
    border: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  /* line 196, ../sass/_desktop.scss */
  #filters .pickList ul {
    position: absolute;
    padding: 0;
    min-width: 11em;
    background-color: #fbfbfb;
    border: 1px solid #dcdcdc;
    margin: 0;
  }
  /* line 204, ../sass/_desktop.scss */
  #filters .pickList ul li {
    padding: .2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
  }
  /* line 213, ../sass/_desktop.scss */
  #filters .pickList ul li:hover {
    background-color: #f1f2f3;
  }
  /* line 216, ../sass/_desktop.scss */
  #filters .pickList ul li label, #filters .pickList ul li input {
    cursor: pointer;
  }
  /* line 219, ../sass/_desktop.scss */
  #filters .pickList ul li label {
    margin-left: 0.3em;
  }
  /* line 226, ../sass/_desktop.scss */
  #filters button {
    min-width: 12em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: inset 2px 2px 2px #f6f6f6;
    -moz-box-shadow: inset 2px 2px 2px #f6f6f6;
    box-shadow: inset 2px 2px 2px #f6f6f6;
    padding: 2px 0 1px;
    border-radius: 0;
    background: white;
    color: inherit;
    font: inherit;
    line-height: inherit;
  }

  /* line 245, ../sass/_desktop.scss */
  .comiseo-daterangepicker {
    background: white;
    border-radius: 0;
    font-family: inherit;
  }
  /* line 251, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-buttonpanel button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    background: #fbfbfb;
  }
  /* line 259, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main {
    background: inherit;
  }
  /* line 261, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-widget-content {
    background: inherit;
  }
  /* line 264, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-presets {
    display: none;
  }
  /* line 267, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar {
    border: 0;
  }
  /* line 270, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-state-highlight {
    background: none #c5c3c3;
  }
  /* line 273, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
    color: white;
    border: 0;
    background-color: inherit;
  }
  /* line 279, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-datepicker-current-day, .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .calendarOuterSelection {
    background: none #d42741;
  }
  /* line 282, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-datepicker-current-day a.ui-state-default, .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .calendarOuterSelection a.ui-state-default {
    color: white;
    border: 0;
    background-color: inherit;
  }
  /* line 289, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-header {
    background: none;
    border: 0;
    color: inherit;
  }
  /* line 294, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-calendar {
    border-left: 1px solid #dcdcdc;
  }
  /* line 298, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-widget-header .ui-state-hover {
    background: none;
    border: 0;
  }
  /* line 304, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev {
    cursor: pointer;
  }
  /* line 306, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev .ui-icon {
    opacity: .9;
    background: url(../img/sprites.png) 0 -14px;
  }
  /* line 311, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev.ui-state-disabled .ui-icon {
    opacity: .3;
  }
  /* line 316, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev.ui-state-hover .ui-icon {
    opacity: 1;
  }
  /* line 321, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next {
    cursor: pointer;
  }
  /* line 323, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next .ui-icon {
    opacity: .9;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 328, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next.ui-state-disabled .ui-icon {
    opacity: .3;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 334, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next.ui-state-hover .ui-icon {
    opacity: 1;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 342, ../sass/_desktop.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group-first .ui-datepicker-calendar {
    border: 0;
  }
  /* line 347, ../sass/_desktop.scss */
  .comiseo-daterangepicker td {
    text-align: center;
  }
  /* line 349, ../sass/_desktop.scss */
  .comiseo-daterangepicker td .ui-datepicker-current-day {
    background-color: #c5c3c3;
  }
  /* line 352, ../sass/_desktop.scss */
  .comiseo-daterangepicker td .ui-state-default {
    border: 0;
    font-weight: normal;
    color: inherit;
    background: inherit;
  }

  /* line 362, ../sass/_desktop.scss */
  #listHeader #innerHeader {
    display: none;
  }
  /* line 365, ../sass/_desktop.scss */
  #listHeader #outerLogo {
    top: 10px;
    position: relative;
    margin-left: 16px;
    background: url(../img/ICA-color-logo.png) no-repeat;
    height: 40px;
    width: 125px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
@media screen and (min-width: 801px) and (max-width: 1075px) {
  /* line 2, ../sass/_tablet.scss */
  #Calendar {
    clear: left;
    margin: 2em;
    background-color: white;
  }
  /* line 7, ../sass/_tablet.scss */
  #Calendar div {
    width: 100%;
  }
  /* line 10, ../sass/_tablet.scss */
  #Calendar div .calendarRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  /* line 18, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day {
    border: 1px solid #d0d0d0;
    min-height: 11em;
  }
  /* line 22, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day.notCurrentMonth {
    color: #d0d0d0;
  }
  /* line 25, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day.notCurrentMonth a {
    color: #bbbbff;
  }
  /* line 30, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day header {
    background-color: inherit;
    line-height: 2;
    padding-left: 1em;
    font-size: 0.8em;
  }
  /* line 36, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day header span.today {
    float: right;
    text-transform: uppercase;
    margin-right: 1em;
    font-size: 0.9em;
    color: #d47211;
  }
  /* line 45, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day a {
    display: block;
    margin: .5em auto;
    padding-bottom: .5em;
    font-size: .8em;
    width: 90%;
    text-decoration: none;
    color: #00e;
  }
  /* line 55, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day.today {
    background-color: #f9fae5;
  }
  /* line 59, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day .event {
    margin: .5em auto;
    padding-bottom: .5em;
    font-size: .8em;
    width: 90%;
    border-bottom: 1px dotted #c5c5c5;
  }
  /* line 66, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day .event .time {
    font-weight: bold;
  }
  /* line 69, ../sass/_tablet.scss */
  #Calendar div .calendarRow .day .event.last {
    border: 0;
  }
  /* line 77, ../sass/_tablet.scss */
  #Calendar .dayOfWeek {
    background-color: #d0e2ed;
    font-weight: bold;
    text-align: center;
    line-height: 3;
    border: 0;
    margin: 0;
    flex: auto;
  }

  /* line 89, ../sass/_tablet.scss */
  header#calendarHeader #innerHeader {
    display: none;
  }
  /* line 92, ../sass/_tablet.scss */
  header#calendarHeader #outerLogo {
    top: 10px;
    position: relative;
    margin-left: 16px;
    background: url(../img/ICA-color-logo.png) no-repeat;
    height: 40px;
    width: 125px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
  }
  /* line 103, ../sass/_tablet.scss */
  header#calendarHeader span {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: .5;
    color: white;
    font-size: 1.8em;
  }
  /* line 116, ../sass/_tablet.scss */
  header#calendarHeader span#next, header#calendarHeader span#prev {
    background-color: #676666;
  }
  /* line 118, ../sass/_tablet.scss */
  header#calendarHeader span#next:hover, header#calendarHeader span#prev:hover {
    background-color: #4d4d4d;
    color: #e6e6e6;
    cursor: pointer;
  }
  /* line 125, ../sass/_tablet.scss */
  header#calendarHeader #currentMonth {
    min-width: 5em;
  }
  /* line 128, ../sass/_tablet.scss */
  header#calendarHeader #open-menu {
    display: none;
  }

  /* hide filter drawer on tablet */
  /* line 134, ../sass/_tablet.scss */
  #mm-filters,
  #filters-mobile {
    display: none !important;
  }

  /* line 139, ../sass/_tablet.scss */
  #filters {
    margin: 1em;
    line-height: 1.25;
  }
  /* line 143, ../sass/_tablet.scss */
  #filters .filterList {
    margin: 0;
    padding: 0;
    overflow: visible;
  }
  /* line 147, ../sass/_tablet.scss */
  #filters .filterList > li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }
  /* line 155, ../sass/_tablet.scss */
  #filters input[type=checkbox]:checked + label, #filters input[type=checkbox]:checked + span {
    color: #4e9ecd;
  }
  /* line 160, ../sass/_tablet.scss */
  #filters .pickList {
    min-width: 8em;
    display: inline-block;
    position: relative;
  }
  /* line 164, ../sass/_tablet.scss */
  #filters .pickList span {
    width: 8em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #dcdcdc;
    padding: 0.5em;
    -webkit-box-shadow: inset 2px 2px 2px #f6f6f6;
    -moz-box-shadow: inset 2px 2px 2px #f6f6f6;
    box-shadow: inset 2px 2px 2px #f6f6f6;
  }
  /* line 177, ../sass/_tablet.scss */
  #filters .pickList span div.bg-img {
    height: 17px;
    width: 17px;
    display: inline-block;
    background: -69px -17px white url(../js/jquery-ui/images/ui-icons_ef8c08_256x240.png);
    position: absolute;
    right: 4px;
    top: 14px;
    box-shadow: -10px 0 5px white, 3px 0 0 white;
  }
  /* line 187, ../sass/_tablet.scss */
  #filters .pickList span span {
    overflow: hidden;
    display: inline;
    border: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  /* line 198, ../sass/_tablet.scss */
  #filters .pickList ul {
    position: absolute;
    padding: 0;
    min-width: 11em;
    background-color: #fbfbfb;
    border: 1px solid #dcdcdc;
    margin: 0;
  }
  /* line 206, ../sass/_tablet.scss */
  #filters .pickList ul li {
    float: none;
    padding: .2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
  }
  /* line 216, ../sass/_tablet.scss */
  #filters .pickList ul li:hover {
    background-color: #f1f2f3;
  }
  /* line 219, ../sass/_tablet.scss */
  #filters .pickList ul li label, #filters .pickList ul li input {
    cursor: pointer;
  }
  /* line 222, ../sass/_tablet.scss */
  #filters .pickList ul li label {
    margin-left: 0.3em;
  }
  /* line 229, ../sass/_tablet.scss */
  #filters button {
    min-width: 8em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: inset 2px 2px 2px #f6f6f6;
    -moz-box-shadow: inset 2px 2px 2px #f6f6f6;
    box-shadow: inset 2px 2px 2px #f6f6f6;
    padding: 2px 0 1px;
    border-radius: 0;
    background: white;
    color: inherit;
    font: inherit;
    line-height: inherit;
  }

  /* line 248, ../sass/_tablet.scss */
  .comiseo-daterangepicker {
    background: white;
    border-radius: 0;
    font-family: inherit;
  }
  /* line 254, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-buttonpanel button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    background: #fbfbfb;
  }
  /* line 262, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main {
    background: inherit;
  }
  /* line 264, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-widget-content {
    background: inherit;
  }
  /* line 267, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-presets {
    display: none;
  }
  /* line 270, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar {
    border: 0;
  }
  /* line 273, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-state-highlight {
    background: none #c5c3c3;
  }
  /* line 276, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
    color: white;
    border: 0;
    background-color: inherit;
  }
  /* line 282, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-datepicker-current-day, .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .calendarOuterSelection {
    background: none #d42741;
  }
  /* line 285, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-datepicker-current-day a.ui-state-default, .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .calendarOuterSelection a.ui-state-default {
    color: white;
    border: 0;
    background-color: inherit;
  }
  /* line 292, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-header {
    background: none;
    border: 0;
    color: inherit;
  }
  /* line 297, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-calendar {
    border-left: 1px solid #dcdcdc;
  }
  /* line 301, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-widget-header .ui-state-hover {
    background: none;
    border: 0;
  }
  /* line 307, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev {
    cursor: pointer;
  }
  /* line 309, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev .ui-icon {
    opacity: .9;
    background: url(../img/sprites.png) 0 -14px;
  }
  /* line 314, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev.ui-state-disabled .ui-icon {
    opacity: .3;
  }
  /* line 319, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-prev.ui-state-hover .ui-icon {
    opacity: 1;
  }
  /* line 324, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next {
    cursor: pointer;
  }
  /* line 326, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next .ui-icon {
    opacity: .9;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 331, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next.ui-state-disabled .ui-icon {
    opacity: .3;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 337, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group .ui-datepicker-next.ui-state-hover .ui-icon {
    opacity: 1;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 345, ../sass/_tablet.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-group-first .ui-datepicker-calendar {
    border: 0;
  }
  /* line 350, ../sass/_tablet.scss */
  .comiseo-daterangepicker td {
    text-align: center;
  }
  /* line 352, ../sass/_tablet.scss */
  .comiseo-daterangepicker td .ui-datepicker-current-day {
    background-color: #c5c3c3;
  }
  /* line 355, ../sass/_tablet.scss */
  .comiseo-daterangepicker td .ui-state-default {
    border: 0;
    font-weight: normal;
    color: inherit;
    background: inherit;
  }

  /* line 365, ../sass/_tablet.scss */
  #listHeader #innerHeader {
    display: none;
  }
  /* line 368, ../sass/_tablet.scss */
  #listHeader #outerLogo {
    top: 10px;
    position: relative;
    margin-left: 16px;
    background: url(../img/ICA-color-logo.png) no-repeat;
    height: 40px;
    width: 125px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
  }
}
@media screen and (max-width: 800px) {
  /* line 2, ../sass/_mobile.scss */
  #Calendar {
    font-size: 4vw;
    background-color: white;
  }
  /* line 6, ../sass/_mobile.scss */
  #Calendar div {
    width: 100%;
  }
  /* line 10, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: auto;
    align-items: center;
    vertical-align: middle;
  }
  /* line 20, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow .day {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    color: #65707a;
  }
  /* line 27, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow .day.notCurrentMonth {
    color: #adb2b6;
  }
  /* line 33, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow .day.selected header {
    color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #6fbce9;
    background-clip: padding-box;
    height: 3em;
    width: 3em;
    margin: 0 auto;
  }
  /* line 45, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow .day.selected .indicator {
    background-color: #618092;
  }
  /* line 50, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow .day header {
    line-height: 3;
    background: none;
  }
  /* line 54, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow .day div {
    width: 1vw;
    height: 1vw;
    top: -2vw;
    position: relative;
  }
  /* line 61, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow .day .indicator {
    background-color: #51cfd4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
  }
  /* line 69, ../sass/_mobile.scss */
  #Calendar div #calendarHolder .calendarRow .day.today {
    background-color: #f9fae5;
  }
  /* line 77, ../sass/_mobile.scss */
  #Calendar div #eventList div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex: auto;
    align-items: center;
    background-color: #f6f6f6;
  }
  /* line 86, ../sass/_mobile.scss */
  #Calendar div #eventList div.zebra {
    background-color: #ecebeb;
  }
  /* line 89, ../sass/_mobile.scss */
  #Calendar div #eventList div span {
    margin: 1em;
  }
  /* line 91, ../sass/_mobile.scss */
  #Calendar div #eventList div span.time {
    min-width: 5em;
    max-width: 5em;
    color: #3e3e3e;
  }
  /* line 95, ../sass/_mobile.scss */
  #Calendar div #eventList div span.time span {
    margin: 0;
  }
  /* line 98, ../sass/_mobile.scss */
  #Calendar div #eventList div span.time .meridiem {
    padding-left: 0.6em;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.7em;
    color: #606366;
    position: relative;
    top: -.05em;
  }
  /* line 108, ../sass/_mobile.scss */
  #Calendar div #eventList div span.description {
    color: #65707a;
  }
  /* line 116, ../sass/_mobile.scss */
  #Calendar .dayOfWeek {
    color: #65707a;
    font-size: 0.8em;
    text-align: center;
    line-height: 3;
    border: 0;
    margin: 0;
    flex: auto;
    align-items: center;
  }

  /* line 128, ../sass/_mobile.scss */
  header#calendarHeader {
    font-size: 4vw;
    width: 100%;
  }
  /* line 131, ../sass/_mobile.scss */
  header#calendarHeader #currentMonth {
    min-width: 5em;
    font-size: 4vw;
    position: relative;
  }
  /* line 136, ../sass/_mobile.scss */
  header#calendarHeader > span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0.5em;
    width: 1em;
    height: 1em;
    display: inline-block;
    text-align: center;
    line-height: 5vw;
    color: white;
    font-size: 6vw;
  }
  /* line 149, ../sass/_mobile.scss */
  header#calendarHeader > span#next, header#calendarHeader > span#prev {
    background-color: #676666;
  }
  /* line 151, ../sass/_mobile.scss */
  header#calendarHeader > span#next:hover, header#calendarHeader > span#prev:hover {
    background-color: #4d4d4d;
    color: #e6e6e6;
    cursor: pointer;
  }
  /* line 159, ../sass/_mobile.scss */
  header#calendarHeader #outerLogo, header#calendarHeader #viewPrintableOuter {
    display: none;
  }
  /* line 162, ../sass/_mobile.scss */
  header#calendarHeader #open-menu, header#calendarHeader .linkButton {
    margin: 3vw 2vw 0 0;
  }
  /* line 165, ../sass/_mobile.scss */
  header#calendarHeader #open-menu {
    position: relative;
    top: 1vw;
  }
  /* line 169, ../sass/_mobile.scss */
  header#calendarHeader header {
    color: white;
    line-height: 3;
    background-color: black;
  }
  /* line 174, ../sass/_mobile.scss */
  header#calendarHeader header span#innerLogo {
    top: 10px;
    position: relative;
    margin-left: 16px;
    background: url(../img/logo-white.png) no-repeat;
    height: 7vw;
    width: 20vw;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
  }

  /* line 188, ../sass/_mobile.scss */
  #filters {
    display: none !important;
  }

  /* line 193, ../sass/_mobile.scss */
  #filters-mobile.mm-menu {
    background: white;
  }
  /* line 198, ../sass/_mobile.scss */
  #filters-mobile ul li {
    line-height: 1.5;
  }
  /* line 204, ../sass/_mobile.scss */
  #filters-mobile input[type=checkbox]:checked + label, #filters-mobile input[type=checkbox]:checked + span {
    color: #4e9ecd;
  }
  /* line 210, ../sass/_mobile.scss */
  #filters-mobile ul li span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
  }
  /* line 216, ../sass/_mobile.scss */
  #filters-mobile ul li span label, #filters-mobile ul li span input {
    cursor: pointer;
  }
  /* line 219, ../sass/_mobile.scss */
  #filters-mobile ul li span label {
    -webkit-order: 1;
    order: 1;
  }
  /* line 223, ../sass/_mobile.scss */
  #filters-mobile ul li span input {
    -webkit-order: 2;
    order: 2;
    margin-left: auto;
  }
  /* line 232, ../sass/_mobile.scss */
  #filters-mobile .pickList span {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
  }
  /* line 239, ../sass/_mobile.scss */
  #filters-mobile .pickList ul {
    min-width: 11em;
    padding-left: 30px;
  }
  /* line 243, ../sass/_mobile.scss */
  #filters-mobile .pickList ul li {
    padding: .2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    list-style: none;
    cursor: pointer;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* line 254, ../sass/_mobile.scss */
  #filters-mobile .pickList ul li:hover {
    background-color: #f1f2f3;
  }
  /* line 258, ../sass/_mobile.scss */
  #filters-mobile .pickList ul li label, #filters-mobile .pickList ul li input {
    cursor: pointer;
  }
  /* line 261, ../sass/_mobile.scss */
  #filters-mobile .pickList ul li label {
    -webkit-order: 1;
    order: 1;
  }
  /* line 265, ../sass/_mobile.scss */
  #filters-mobile .pickList ul li input {
    -webkit-order: 2;
    order: 2;
    margin-left: auto;
  }
  /* line 274, ../sass/_mobile.scss */
  #filters-mobile button {
    min-width: 12em;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
    border-radius: 0;
    background: white;
    color: inherit;
    line-height: inherit;
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
  }
  /* line 290, ../sass/_mobile.scss */
  #filters-mobile button.ui-button {
    position: static;
  }
  /* line 294, ../sass/_mobile.scss */
  #filters-mobile button span.ui-button-text {
    padding: 0;
  }

  /* line 299, ../sass/_mobile.scss */
  .comiseo-daterangepicker {
    background: white;
    border-radius: 0;
    font-family: inherit;
  }
  /* line 305, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-buttonpanel button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-weight: normal;
    background: #fbfbfb;
  }
  /* line 313, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main {
    background: inherit;
  }
  /* line 315, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-widget-content {
    background: inherit;
  }
  /* line 318, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-presets {
    display: none;
  }
  /* line 321, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar {
    border: 0;
  }
  /* line 324, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-state-highlight {
    background: none #c5c3c3;
  }
  /* line 327, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-state-highlight a.ui-state-default {
    color: white;
    border: 0;
    background-color: inherit;
  }
  /* line 333, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-datepicker-current-day, .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .calendarOuterSelection {
    background: none #d42741;
  }
  /* line 336, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .ui-datepicker-current-day a.ui-state-default, .comiseo-daterangepicker .comiseo-daterangepicker-main .comiseo-daterangepicker-calendar .calendarOuterSelection a.ui-state-default {
    color: white;
    border: 0;
    background-color: inherit;
  }
  /* line 343, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-header {
    background: none;
    border: 0;
    color: inherit;
  }
  /* line 348, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-calendar {
    border-left: 1px solid #dcdcdc;
  }
  /* line 352, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-widget-header .ui-state-hover {
    background: none;
    border: 0;
  }
  /* line 357, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-prev {
    cursor: pointer;
  }
  /* line 359, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-prev .ui-icon {
    opacity: .9;
    background: url(../img/sprites.png) 0 -14px;
  }
  /* line 364, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-prev.ui-state-disabled .ui-icon {
    opacity: .3;
  }
  /* line 369, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-prev.ui-state-hover .ui-icon {
    opacity: 1;
  }
  /* line 374, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-next {
    cursor: pointer;
  }
  /* line 376, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-next .ui-icon {
    opacity: .9;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 381, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-next.ui-state-disabled .ui-icon {
    opacity: .3;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 387, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-next.ui-state-hover .ui-icon {
    opacity: 1;
    background: url(../img/sprites.png) 0 -31px;
  }
  /* line 394, ../sass/_mobile.scss */
  .comiseo-daterangepicker .comiseo-daterangepicker-main .ui-datepicker-calendar {
    border: 0;
    padding: 0;
  }
  /* line 399, ../sass/_mobile.scss */
  .comiseo-daterangepicker td {
    text-align: center;
  }
  /* line 401, ../sass/_mobile.scss */
  .comiseo-daterangepicker td .ui-datepicker-current-day {
    background-color: #c5c3c3;
  }
  /* line 404, ../sass/_mobile.scss */
  .comiseo-daterangepicker td .ui-state-default {
    border: 0;
    font-weight: normal;
    color: inherit;
    background: inherit;
  }

  /* line 414, ../sass/_mobile.scss */
  #listHeader #outerLogo, #listHeader #viewCalendarOuter, #listHeader #viewPrintableOuter {
    display: none;
  }
  /* line 417, ../sass/_mobile.scss */
  #listHeader header {
    overflow: auto;
    color: white;
    line-height: 3;
    background-color: black;
  }
  /* line 423, ../sass/_mobile.scss */
  #listHeader header span#innerLogo {
    top: 10px;
    position: relative;
    margin-left: 16px;
    background: url(../img/logo-white.png) no-repeat;
    height: 7vw;
    width: 20vw;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
  }
  /* line 436, ../sass/_mobile.scss */
  #listHeader h1 {
    font-size: 1em;
  }
}
@media print {
  /* line 2, ../sass/_print.scss */
  html {
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 1.1em;
  }

  /* line 8, ../sass/_print.scss */
  #prettyEvents div.bordered {
    margin: 0 10px 10px;
    padding: 0 10px 10px;
  }
  /* line 13, ../sass/_print.scss */
  #prettyEvents div.event {
    border-bottom: 1px solid #aaa;
    margin: 5px 0;
    padding: 5px 0;
  }
  /* line 17, ../sass/_print.scss */
  #prettyEvents div.event span {
    font-size: 10pt;
  }
  /* line 21, ../sass/_print.scss */
  #prettyEvents span.date {
    font-size: 1.1em;
  }

  /* line 26, ../sass/_print.scss */
  #filterset, #links {
    display: none;
  }

  /* line 30, ../sass/_print.scss */
  #navigation, header #viewCalendar, #datepick {
    display: none;
  }
}
